<h1>Edit Subject</h1>

<form action="/subjects/<%= subject._id %>?_method=PUT" method="POST">
    <!-- Add this line for method override -->
    <input type="hidden" name="_method" value="PUT">

    <label for="name">Subject Name:</label>
    <input type="text" id="name" name="name" value="<%= subject.name %>" required>

    <button type="submit">Update Subject</button>
</form>

<form action="/subjects/<%= subject._id %>?_method=DELETE" method="POST">

    <p>Are you sure you want to delete <%= subject.name %>?</p>

    <button type="submit" style="color: red;">Delete Subject</button>
</form>