<h1>Create Field of Study</h1>

<form action="/fields-of-study" method="POST">
  <label for="name">Field of Study Name:</label>
  <input type="text" id="name" name="name" required>

  <button type="submit">Create Field of Study</button>
</form>