<h1>Edit Branch</h1>

<form action="/branches/<%= branch._id %>?_method=PUT" method="POST">
    <!-- Add this line for method override -->
    <input type="hidden" name="_method" value="PUT">

    <label for="name">Branch Name:</label>
    <input type="text" id="name" name="name" value="<%= branch.name %>" required>

    <button type="submit">Update Branch</button>
</form>

<form action="/branches/<%= branch._id %>?_method=DELETE" method="POST">
    <p>Are you sure you want to delete <%= branch.name %>?</p>

    <button type="submit" style="color: red;">Delete Branch</button>
</form>